.card {
  min-height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.space-around {
  margin-block: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.link {
  width: 100%;
  border-radius: 0.25rem;
}
